.modal {
    width: 80%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lists {
    display: flex;
    flex: 1; 
    margin-left: 20px; 
}

.lists > div {
    margin-right: 20px; 
}

/* Estilos para las listas */
.lists ul,
.lists ol {
    /* list-style-type: none;  */
    padding: 0; 
    margin: 0; 
    margin-left: 20px;
}

.lists h4 {
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 10px; 
    color: black; 
    text-align: left;
}

.lists li {
    font-size: 16px; 
    margin-bottom: 5px; 
    color: #333; 
    text-align: left;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    flex: 1; /* Asegura que la imagen ocupe el espacio adecuado */
}

.carousel-inner {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.title-sweet {
    font-size: 25px;
    font-weight: bold;
}

.text-black {
    font-size: 17px;
}

.hr-sweet {
    width: 80%;
    border: none;
    background-color: #b2babb;
    height: 2px;
}

.carousel img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: none;
}

.custom-button {
    background-color: #e74c3c;
    color: white;
    font-size: 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
    
.custom-button:hover {
    background-color: #c0392b;    
}

.prev, .next {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px; 
}

.next {
    right: 10px; 
}

@media (max-width: 768px) {
    .modal {
        width: 95%;
    }
    .content {
        flex-direction: column; 
    }
    .lists {
        margin-right: 0; 
        margin-bottom: 20px; 
        flex-direction: column; 
        width: 100%; 
        margin-left: 0; 
    }
    .lists > div {
        margin-right: 0; 
        margin-bottom: 10px; 
        width: 100%; 
    }
    .carousel {
        margin-top: 0; 
    }
}

